<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Add Another Classic to Our Collection</h1>
    {{#auto}}
    <form action="/updateCar/{{_id}}" method="post">
    <label for="year">Year</label>
      <input type="text" name="year" value="{{year}}">
      <br><br>
      <label for="make">Make</label>
      <input type="text" name="make" value="{{make}}">
      <br><br>
      <label for="model">Model</label>
      <input type="text" name="model" value="{{model}}">
      <br><br>
      <label for="vinNumber">VIN Number</label>
      <input type="text" name="vinNumber" value="{{vinNumber}}">
      <br><br>
      <label for="body.bodyStyle">Body Style</label>
      <select name="body.bodyStyle">
        <option value="" selected></option>
        <option value="sedan">sedan</option>
        <option value="coupe">coupe</option>
        <option value="convertible">convertible</option>
        <option value="wagon">wagon</option>
        <option value="truck">truck</option>
        <option value="coupe">van</option>
      </select>
      <br><br>
      <label for="body.color">Color</label>
      <input type="text" name="body.color" value="{{body.color}}">
      <br><br>
      <label for="driveTrain.engine">Engine</label>
      <input type="text" name="driveTrain.engine" value="{{driveTrain.engine}}">
      <br><br>
      <label for="driveTrain.transmission">Transmission Type</label>
      <select name="driveTrain.transmission">
        <option value="" selected></option>
        <option value="automatic">automatic</option>
        <option value="manual">manual</option>
      </select>
      <br><br>
      <label for="driveTrain.wheelDrive">Drive Type</label>
      <select name="driveTrain.wheelDrive">
        <option value="" selected></option>
        <option value="2WD">2WD</option>
        <option value="4WD">4WD</option>
        <option value="AWD">AWD</option>
      </select>
      <br><br>
      <input type="submit" value="Update">
    </form>
    {{/auto}}
  </body>
</html>